<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>HULKs.de - {{ page.title }}</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{site.path}}/_style/hulks.css" type="text/css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <style>
        #donate-button-container {
            position: absolute;
            top: 5px;
            right: -50px;
            z-index: 1000;
        }
        header {
            position: relative;
        }
    </style>
</head>
<body>
<div id="wrap">
    <header>
        <div class="container">
            <a href="{{site.path}}/">
                <div class="logo"></div>
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="{{site.path}}/">Start</a>
                    </li>
                    <li>
                        <a href="{{site.path}}/team/team2026.html">Team</a>
                    </li>
                    <li>
                        <a href="{{site.path}}/publications/">Publications</a>
                    </li>
                    <li>
                        <a href="{{site.path}}/code/">Code</a>
                    </li>
                    <li>
                        <a href="{{site.path}}/meet/">Meet</a>
                    </li>
                    <li>
                        <a href="{{site.path}}/sponsors/">Sponsors</a>
                    </li>
                    <li>
                        <a href="{{site.path}}/press/">Press</a>
                    </li>
                </ul>
            </nav>
            <!-- <div id="donate-button-container">
                <div id="donate-button"></div>
                <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
                <script>
                PayPal.Donation.Button({
                env:'production',
                hosted_button_id:'LBYBQXRW888P2',
                image: {
                src:'https://pics.paypal.com/00/s/MDlkYTFmNzYtY2E4OS00ZGE2LTg4NTQtYTU2YzFhMTNlNDlj/file.PNG',
                alt:'Donate with PayPal button',
                title:'PayPal - The safer, easier way to pay online!',
                }
                }).render('#donate-button');
                </script>
            </div>                 -->
        </div>
    </header>
    {{ content }}
</div>
<footer>
    <div class="container">
        <div class="col right">
            <a href="{{site.path}}/imprint/">Imprint/Impressum</a>
            <!--a href="/">English</a-->
        </div>
        <div class="col">
            <a href="https://instagram.com/hulks_tuhh" target="_blank"><img src="{{site.path}}/_style/img/instagram_icon.svg" class="icon"></></a>
            <a href="https://www.linkedin.com/company/hulks" target="_blank"><img src="{{site.path}}/_style/img/linkedin_icon.svg" class="icon" /></a>
            <!--<a href="https://www.mle.hamburg/lehre/#hulks" target="_blank"><span class="icon ml"></span></a>-->
        </div>
    </div>
</footer>
<script type="text/javascript" src="{{site.path}}/_js/hulks.js"></script>
</body>
</html>