<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>HULKs.de - {{ page.title }}</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{site.path}}/_style/hulks.css" type="text/css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div id="wrap">
    <header>
        <div class="container">
            <a href="{{site.path}}/">
                <div class="logo"></div>
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="{{site.path}}/">Start</a>
                    </li>
                    <li>
                        <a href="{{site.path}}/team/team2025.html">Team</a>
                    </li>
                    <li>
                        <a href="{{site.path}}/publications/">Publications</a>
                    </li>
                    <li>
                        <a href="{{site.path}}/code/">Code</a>
                    </li>
                    <li>
                        <a href="{{site.path}}/meet/">Meet</a>
                    </li>
                    <li>
                        <a href="{{site.path}}/sponsors/">Sponsors</a>
                    </li>
                    <li>
                        <a href="{{site.path}}/press/">Press</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    {{ content }}
</div>
<footer>
    <div class="container">
        <div class="col right">
            <a href="{{site.path}}/imprint/">Imprint/Impressum</a>
            <!--a href="/">English</a-->
        </div>
        <div class="col">
            <a href="https://instagram.com/hulks_tuhh" target="_blank"><img src="{{site.path}}/_style/img/instagram_icon.svg" class="icon"></></a>
            <a href="https://www.linkedin.com/company/hulks" target="_blank"><img src="{{site.path}}/_style/img/linkedin_icon.svg" class="icon" /></a>
            <a href="https://www.gooding.de/organization/roboting-tuhh-e-v-23115" target="_blank"><img src="{{site.path}}/_style/img/gooding-icon-48.png" class="icon" /></a>
            <a href="https://ko-fi.com/hulks" target="_blank"><img src="https://storage.ko-fi.com/cdn/fullLogoKofi.png" class="icon" /></a>
            <!--<a href="https://www.mle.hamburg/lehre/#hulks" target="_blank"><span class="icon ml"></span></a>-->
        </div>
    </div>
</footer>
<script type="text/javascript" src="{{site.path}}/_js/hulks.js"></script>
</body>
</html>
